* {
    margin: 0 auto;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: Verdana, Arial, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: #A8A8A8;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
}

h2 {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    font-style: normal;
}

h3 {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    font-style: normal;
}

label, select, option, span {
    font-size: 1.2rem;
}

button {
    margin-left: 0.5rem;
    font-size: 1.2rem;
}

table {
    margin: 0;
}

td {
    font-size: 1.2rem;
}

#wrapper {
    background-color: #FFFFFF;
    width: 960px;
    height: 100%;
}

#content {
    background-color: #FFFFFF;
    width: 920px;
    padding: 10px 10px 0px 10px;
    text-align: center;
}

#transform_container {
    float: left;
    width: 600px;
    text-align: left;
}

#point {
    float: right;
    width: 200px;
    text-align: left;
}

#matrices {
    text-align: left;
}

.transform {
    padding: 0.5rem;
}

.transform:nth-of-type(odd) {
    background-color: #EDEDED;
}

.transform:nth-of-type(even) {
    background-color: #BABABA;
}

.matrix {
    position: relative;
    margin: 0.75rem;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}

.mat_input {
    display: inline-block;
    width: 3rem;
    text-align: right;
}

.spacer {
    height: 10px;
    clear: both;
}
